* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.row {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

:root {
  --primary: rgba(39, 42, 131, 1);
  --secondary: rgb(194, 240, 253);
  --tertiary: rgba(39, 42, 131, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgb(206, 206, 207);
}

.page-wrapper {
  max-width: 100%;
  border: 1px solid rgb(138, 138, 138);
}

.page-section {
  /* margin: 25px 0; */
  /* padding: 10px 0; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > div {
  flex: 0 0 100%;
}

.page-section > h2 {
  border-right: none;
  border-bottom: 4px solid var(--primary);
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: right;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  max-width: 250px;
  max-height: 185px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  object-fit: cover;
}
.flex-item-bookmarks {
  background-color: var(--primary);
  color: var(--tertiary);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  border-radius: 5px;
}

.flex-item-bookmarks {
  border: 1px solid white;
  height: 600px;
  flex-basis: calc(25% - 1em);
}

.flex-item-bookmarks:hover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 8px black, 0 0 30px black;
}

.flex-item-bookmarks div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

/* Mobile first queries */
/* Larger than tablet */
@media (min-width: 750px) {
    .flex-item-bookmarks {
    flex-basis: calc(100% - 1em);
  }}

/* Larger than desktop */
@media (min-width: 1000px) {
    .flex-item-bookmarks {
        flex-basis: calc(50% - 1em);
      }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .flex-item-bookmarks {
        flex-basis: calc(25% - 1em);
      }
}